         /* if desktop */
  .HeaderRightMobile {
  display: none;
  margin-right: 80px;
}
        /* if device max width 1276px */
  @media (max-width: 1276px) {
  .tagline {display: none;}
  .logo {display: none;}
}