         /* if desktop */
  .HeaderRightMobile {
  display: none;
  margin-right: 80px;
}
        /* if device max width 1276px */
  @media (max-width: 1276px) {
  .HeaderRightMobile{display: flex; align-items: center;}
  .HeaderRight {display: none;}
  .tagline {display: none;}
}