         /* if desktop */
  .HeaderRightMobile {
  display: none;
  margin-right: 80px;
}
.webtitle {display: none;}

        /* if device max width 1276px */
  @media (max-width: 1276px) {
  .tagline {display: none;}
  .HeaderRightMobile {display: none;}
  .HeaderRight {display: flex;}
  .webtitle {display: none;}
  .webtitlemobile {display: block;}
  .logo {display: none;}
}