
.fullplayer {
  display: flex;
  justify-content: center;
  gap: 1em;
  height: 80vh;
  max-height: 550px;
}
.player {
  flex-basis: 900px;
  display: flex;
  flex-direction: column;
  gap: .2em;
}
.streamchanger {
  display: flex;
  justify-content: center;
}
.streambutton {
  height: 36px;
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  letter-spacing: 1px;
  font-size: .9rem;
  border-radius: 15px;
  border-color: #286ea7;
  background-image: linear-gradient(to bottom,#000000, rgb(31, 44, 75));
  color: white;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.streambutton:hover {
  background-image: linear-gradient(to bottom,#000000, rgb(36, 80, 38));
  color: #85ce96;
  border-color: #28A745;
}