RewriteEngine on

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule !.*\.html$ %{REQUEST_FILENAME}.html [L]

RewriteCond %{HTTP_HOST} ^www.mrgamingstreams.com
RewriteRule (.*) https://mrgamingstreams.com/$1 [R=301,L]

ErrorDocument 404 https://mrgamingstreams.com
RewriteRule ^(.*)$ https://mrgamingstreams.com/$1 [L,R=301]