RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI}.html -f
RewriteRule !\.\w{2,4}$ %{REQUEST_URI}.html [L]

RewriteCond %{HTTP_HOST} ^www.mrgamingstreams.com
RewriteRule (.*) https://mrgamingstreams.com/$1 [R=301,L]

ErrorDocument 500 https://mrgamingstreams.com
ErrorDocument 404 https://mrgamingstreams.com